@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}


body{
    background-color: rgba(0, 0, 255, 0.74);
    font-weight: bolder;
}

header{
    text-align: center;
    color: white;
}

p#notas{
    font-size: 2em;
    text-align: center;
}


main{
    margin: auto;
    width: 450px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    background-color: white;
}

#bimestre{
    padding: 10px;
    
}

.nb{
    margin-bottom: 10px;
}

select{
    width: 150px;
}

div{
    padding: 5px;
}


footer{
    text-align: center;
    color: white;
}