@charset "utf-8";

body{
    background-color: rgba(0, 0, 255, 0.74);
    font-weight: bolder;
}

header{
    text-align: center;
    color: white;
}


main{
    margin: auto;
    width: 450px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    background-color: white;
}

select{
    width: 150px;
}

div{
    padding: 5px;
}


footer{
    text-align: center;
    color: white;
}